# Ignore the environment directory
.venv/

# Ignore the log files directory
logs/

# Ignore environment variables
.env

# Ignore test file
test.py

# Ignoring data files
data/

# Dagster temp / local storage
.tmp_dagster_home_*/

# Python caches / venv
__pycache__/
*.py[cod]

# OS/editor junk
.DS_Store
.idea/
.vscode/